<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="universityrecruit.enterprise.feemanagement.feerecord.dao.EntFeeFeeRecordMapper" >
  <resultMap id="BaseResultMap" type="universityrecruit.enterprise.feemanagement.feerecord.entity.FeeRecord" >
	
	<id column="FeeRecordID" property="FeeRecordID" jdbcType="INTEGER"/>
	<result column="Balance" property="Balance" jdbcType="VARCHAR"/>
	<result column="Expense" property="Expense" jdbcType="VARCHAR"/>
	<result column="Income" property="Income" jdbcType="VARCHAR"/>
	<result column="RecordDate" property="RecordDate" jdbcType="DATE"/>
	<result column="EnterpriseID" property="EnterpriseID" jdbcType="INTEGER"/>

  </resultMap>
  
  <sql id="Base_Column_List">
	FeeRecordID,Balance,Expense,Income,RecordDate,EnterpriseID
  </sql>

  <!--因为采用AJAX通过Map<String,Object>进行传参，所以主键为String，用下面简洁的方式就不能实现自增，parameterType用Entity方式可以
  <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="TestTableId">
  -->
  <insert id="insert" parameterType="map">
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="FeeRecordId">
      SELECT LAST_INSERT_ID() AS FeeRecordId_AI
    </selectKey>
    insert into FeeRecord(FeeRecordID,Balance,Expense,Income,RecordDate,EnterpriseID) values (#{FeeRecordId_AI},#{Balance},#{Expense},#{Income},#{RecordDate},#{EnterpriseID})
  </insert>
  
  <delete id="deleteByIdList" parameterType="List">
    delete from FeeRecord where FeeRecordId in
    <foreach collection="list" index="index" item="Ids" open="(" close=")" separator=",">
      #{Ids}
    </foreach>
  </delete>

  <update id="update" parameterType="map">
    update FeeRecord set Balance=#{Balance},Expense=#{Expense},Income=#{Income},RecordDate=#{RecordDate},EnterpriseID=#{EnterpriseID}
    where FeeRecordId = #{FeeRecordId}
  </update>

  <select id="selectByID" resultMap="BaseResultMap" parameterType="Object">
    select FeeRecordID,Balance,Expense,Income,RecordDate,EnterpriseID from FeeRecord
    where FeeRecordId = #{FeeRecordId}
  </select>

  <select id="selectCountByCondition" resultMap="BaseResultMap" parameterType="map">
    select count(FeeRecordId) from FeeRecord
	<where>
		<if test='Balance!=null'>
		</if>
		<if test='Expense!=null'>
		</if>
		<if test='Income!=null'>
		</if>
		<if test='RecordDate!=null'>
		</if>
		<if test='EnterpriseID!=null'>
		</if>
</where>
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
    select FeeRecordID,Balance,Expense,Income,RecordDate,EnterpriseID from FeeRecord
	<where>
		<if test='Balance!=null'>
		</if>
		<if test='Expense!=null'>
		</if>
		<if test='Income!=null'>
		</if>
		<if test='RecordDate!=null'>
		</if>
		<if test='EnterpriseID!=null'>
		</if>
</where>
  </select>
</mapper>