<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="universityrecruit.enterprise.studentsearch.selectedhometowncondition.dao.EntStuSelectedHometownConditionMapper" >
  <resultMap id="BaseResultMap" type="universityrecruit.enterprise.studentsearch.selectedhometowncondition.entity.SelectedHometownCondition" >
	
	<id column="SelectedHometownConditionID" property="SelectedHometownConditionID" jdbcType="INTEGER"/>
	<result column="ProvinceID" property="ProvinceID" jdbcType="INTEGER"/>
	<result column="EnterpriseQueryConditionID" property="EnterpriseQueryConditionID" jdbcType="INTEGER"/>

  </resultMap>
  
  <sql id="Base_Column_List">
	SelectedHometownConditionID,ProvinceID,EnterpriseQueryConditionID
  </sql>

  <!--因为采用AJAX通过Map<String,Object>进行传参，所以主键为String，用下面简洁的方式就不能实现自增，parameterType用Entity方式可以
  <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="TestTableId">
  -->
  <insert id="insert" parameterType="map">
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="SelectedHometownConditionId">
      SELECT LAST_INSERT_ID() AS SelectedHometownConditionId_AI
    </selectKey>
    insert into SelectedHometownCondition(SelectedHometownConditionID,ProvinceID,EnterpriseQueryConditionID) values (#{SelectedHometownConditionId_AI},#{ProvinceID},#{EnterpriseQueryConditionID})
  </insert>
  
  <delete id="deleteByIdList" parameterType="List">
    delete from SelectedHometownCondition where SelectedHometownConditionId in
    <foreach collection="list" index="index" item="Ids" open="(" close=")" separator=",">
      #{Ids}
    </foreach>
  </delete>

  <update id="update" parameterType="map">
    update SelectedHometownCondition set ProvinceID=#{ProvinceID},EnterpriseQueryConditionID=#{EnterpriseQueryConditionID}
    where SelectedHometownConditionId = #{SelectedHometownConditionId}
  </update>

  <select id="selectByID" resultMap="BaseResultMap" parameterType="Object">
    select SelectedHometownConditionID,ProvinceID,EnterpriseQueryConditionID from SelectedHometownCondition
    where SelectedHometownConditionId = #{SelectedHometownConditionId}
  </select>

  <select id="selectCountByCondition" resultMap="BaseResultMap" parameterType="map">
    select count(SelectedHometownConditionId) from SelectedHometownCondition
	<where>
		<if test='ProvinceID!=null'>
		</if>
		<if test='EnterpriseQueryConditionID!=null'>
		</if>
</where>
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
    select SelectedHometownConditionID,ProvinceID,EnterpriseQueryConditionID from SelectedHometownCondition
	<where>
		<if test='ProvinceID!=null'>
		</if>
		<if test='EnterpriseQueryConditionID!=null'>
		</if>
</where>
  </select>
</mapper>