<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="universityrecruit.testfile.dao.TestFileDao">
    <resultMap id="studentResultMap" type="universityrecruit.testfile.entity.Picture" >

    <id column="upid" property="picid" jdbcType="INTEGER"/>
    <result column="upname" property="name" jdbcType="VARCHAR"/>
    <result column="address" property="address" jdbcType="FLOAT"/>


</resultMap>

<insert id="addfile" parameterType="universityrecruit.testfile.entity.Picture" keyProperty="picid" useGeneratedKeys="true">
    insert into upload(upname,address) values(#{name},#{address})
</insert>

    <select id="selectfile" parameterType="Integer" resultMap="studentResultMap">
        select * from upload where upid=#{uid}
    </select>

    <!--<select id="getAllqy" resultMap="qyResultMap">
        select Industry.IndustryName,count(Candidate.CandidateID) as IndInviSum
/* 随后计算*/
from Candidate left join Job   on Candidate.JobID =  Job.JobID
/* 岗位id相同  面试候选人table和招聘岗位table 2表连接 */

left join Enterprise on Enterprise.EnterpriseID = Job.EnterpriseID
/*招聘岗位table 和 企业表table 连接*/
left join Industry on Industry.IndustryID =  Enterprise.IndustryID
/* 企业表和 行业表连接 */


/* 根据行业id分组 */
where Candidate.StudentID = 1

group by Industry.IndustryID
    </select>-->
</mapper>